/* mouse over link */
   a:hover {
       color: red;
     }
     a:link {
       color: blue;
     }
     body {
       margin: 50px auto;
       max-width: 3000px;
       font-family: "Helvetica", "Arial", sans-serif;
       line-height: 1.5;
       padding: 175px 400px;
     }
a:link {
  text-decoration: underline;
}

a {
  background-color: yellow;
  text-dorecation: none;

}
body {
  background-image: url(http://sfwallpaper.com/images/background-images-of-nature-1.jpg);
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 20px;
}
